@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Color Palettes */
  --white: #fff;
  --black: #333;
  --gray: #dcd4da;
  --dark-blue: #345276;
  --navy: #595a84;

  --blue-gradient-top: linear-gradient(to top, #09203f 0%, #537895 100%);
  --blue-gradient-right: linear-gradient(to right, #09203f 0%, #537895 100%);
}

body,
html {
  font-family: "Roboto";
  background: #cecece;
}

.header {
  font-size: 1.3rem;
  font-weight: 300;
  font-family: "Lobster";
}

nav {
  background: var(--blue-gradient-right);
  gap: 1em;
}

.nav-header {
  margin-bottom: 0;
}

.nav-user {
  gap: 1em;
}

.user-icon img {
  width: 50px;
}

.nav-icon {
  cursor: pointer;
  font-size: 1.5rem;
  opacity: 0.7;
}

.sidebar {
  position: fixed;
  background: var(--blue-gradient-top);
  color: #fff;
  top: 5em;
  left: -20em;
  border-radius: 10px;
  box-shadow: 3px 3px 4px 4px rgb(0 0 0 / 20%);
  height: 85vh;
  transition: left ease-in 0.8s;
}

.left {
  left: 0.5em;
  /* transition: left ease-in 1s; */
}

.sidebar-header {
  padding: 1rem 2rem;
}

.close-sidebar {
  display: block;
}

.close-sidebar i {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  font-size: 1.3rem;
  color: #fff;
  cursor: pointer;
  opacity: 0.5;
}

.close-sidebar i:hover {
  opacity: 0.8;
}

.sidebar hr {
  margin: 0;
  border-color: #fff6;
}

.sidebar ul {
  list-style: none;
  padding: 1rem;
}

.sidebar ul li {
  padding: 0.5rem 3rem 0.5rem 0.5rem;
  margin-bottom: 0.5rem;
  gap: 1em;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
}

.sidebar ul li:hover {
  background: #a23b72;
}

.li-icon svg {
  width: 30px;
  height: 30px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #fff;
}

/* Media Query for Sidebar */
@media screen and (min-width: 768px) {
  .sidebar {
    left: 0.5em;
  }

  .left {
    left: -20em;
  }

  .close-sidebar {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .sidebar ul {
    padding: 1rem 1.5rem;
  }
}

.main {
  height: 70vh;
  margin: 8rem 1rem 1rem;
  border-radius: 5px;
}

footer {
  font-size: 0.9rem;
  font-weight: 300;
}

.log-out {
  width: 13ch;
}

/* Media Query for Main */
@media screen and (min-width: 990px) {
  .main {
    margin-left: 300px;
  }
}
