@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Color Palettes */
  --white: #fff;
  --black: #333;
  --gray: #dcd4da;
  --dark-blue: #345276;
  --navy: #595a84;

  --blue-gradient: linear-gradient(to top, #09203f 0%, #537895 100%);
}
  
body, html {
  font-family: 'Roboto';
}

h1 {
  color: var(--navy);
}